@use '../sass-utils/all' as *;

.btn {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  gap: 2rem;
  margin: auto;
  max-width: 700px;

  @include query(md) {
    flex-flow: row wrap;
  }

  a {
    color: #fff;
    padding: 1.2rem 3.5rem;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $fontWeightMedium;
  }

  &--ios {
    background-color: $strongCyan;
  }

  &--mac {
    background-color: $lightBlue;
  }
}
