@use '../sass-utils/all' as *;

.btn {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 75%;

    a {
        color: #fff;
        width: 43%;
        height: 57px;
        border-radius: 30px;
        background-color: $strongCyan;        
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: $fontWeightMedium;
    }
}