@use '../sass-utils/all' as *;

body {
  background: #fff url(../images/bg-header-desktop.png) no-repeat top / contain;
  
  @media (max-width:375px) {
    background: #fff url(../images/bg-header-mobile.png) no-repeat top / cover;
                
  }
}

.header {
  max-width: 100%;

  > div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    max-width: 700px;
    margin: 7.5rem auto 4rem;
  }

  svg {
    margin-bottom: 3rem;
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 2.7rem;
    
    @media (max-width:775px) {
      font-size: 1.8rem;
                
    }
  }

  &__text {
    margin-bottom: 3rem;
  }
}
