@use '../sass-utils/all' as *;

.layout {
  display: grid;
  grid-template-columns: $padding-layout-mobile 1fr $padding-layout-mobile;
  grid-template-areas:
    '. header  .'
    '. content .'
    '. footer  .';

  @include query(md) {
    grid-template-columns: $padding-layout-tablet 1fr $padding-layout-tablet;
  }
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
